*{
    margin-left: 0;
    padding: 0;
}
body{
    width: 1920px;
    height: 5155px;
    background-color: #162831;
    color: white;
}
/* меню */

header{
    width: 1298px;
    height: 60px;
    display: flex;
    margin: 30px auto 0 auto;
}
header img{
    justify-content: flex-start;
}
nav{
    margin: 30px auto 0 auto;

}
nav a{
    color: white;
    margin-left: 50px;
    text-decoration: none;
}
header button{
    justify-content: flex-end;
    padding: 9px 15px 9px 15px;
    color: white;
    background-color: #018ABE;
    border-radius: 10px;
}

/* Основной контент */

/* Укрепление здоровья */

.heads_logo{
    width: 1296px;
    height: 600px;
    background-image: url(../img/heads_logo.png);
    margin: 140px auto 0 auto;
}
.heads_logo h3{
    text-align: center;
}
.heads_logo_cont{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 276px auto 0 auto;
}